.official-rate-form {
    font-size: 1.15rem;
    width: 45%;

    .rate {
        margin-bottom: 2rem;

        .sarima-rate {
            margin-top: 0.5rem;
            font-weight: 500;
            width: 62%;
            border-left: 5px solid rgb(41, 105, 215);
            background: rgb(0, 0, 0, 0.1);
            padding: 0.7rem;
        }
    }

    &__control {
        label {
            margin-right: 1rem;
        }

        input {
            font-family: inherit;
            font-size: 1.05rem;
            padding: 0.3rem 0.5rem;
        }
    }

    .date {
        margin-bottom: 2rem;
        border-bottom: 2px dashed rgb(41, 105, 215);
        padding-bottom: 1rem;

        .label {
            display: inline-block;
            margin-right: 0.5rem;
        }
    }

    button[type="submit"] {
        margin-top: 1rem;
    }
}
