.official-rate-form {
    font-size: 1.15rem;

    &__control {
        label {
            margin-right: 1rem;
        }

        input {
            font-family: inherit;
            font-size: 1.05rem;
            padding: 0.3rem 0.5rem;
        }
    }

    .date {
        margin-bottom: 1rem;
        border-bottom: 2px dashed rgb(41, 105, 215);
        padding-bottom: 1rem;
        width: fit-content;

        .label {
            display: inline-block;
            margin-right: 0.5rem;
        }
    }

    button[type="submit"] {
        margin-top: 1rem;
    }
}
