@import "mixins.scss";

.section-px {
    padding-left: 5rem;
    padding-right: 5rem;

    @include respond(phone) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.section-py {
    @include respond(phone) {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

.neutral {
    background-color: #bcb7f6;
    // color: #fff;
}

.good {
    background-color: #69edb6;
    // color: #257056;
}
.bad {
    background-color: #feec4f;
    // color: #c65322;
}

.fail {
    background-color: #ffb97b;
    // color: #93742a;
}
