header {
    position: relative;
    z-index: 999;
    padding: 1.5rem 5rem;
    // margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        font-size: 2rem;
        font-weight: 500;

        img {
            width: 2.5rem;
        }
    }

    .right {
        display: flex;
        align-items: center;
        gap: 3rem;

        nav {
            display: flex;
            align-items: center;

            ul {
                display: flex;
                gap: 1.5rem;
            }

            a {
                font-weight: 600;
                text-transform: capitalize;
            }
        }
    }

    form {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .groups {
            position: relative;

            .control {
                display: flex;
                gap: 1rem;
            }

            .error {
                position: absolute;
                bottom: -1.25rem;
                color: red;
                margin-top: 0.5rem;
                font-size: 0.8rem;
                text-transform: capitalize;
            }
        }

        input {
            font-family: inherit;
            font-size: 1rem;
            padding: 0.25rem;
        }
    }

    .profile {
        display: flex;
        gap: 2rem;
        align-items: center;
    }
}
