@import "../../styles/variables.scss";

.bills-calcu-inputs {
    position: relative;
    background-image: linear-gradient(to bottom, $base-color, #b4afe0);
    padding: 2.5rem;
    border-radius: 2rem;

    .tooltip svg {
        color: yellow;
    }

    .accuracy-info {
        position: absolute;
        top: 1.5rem;
        right: 2.5rem;
    }

    h1 {
        font-size: 2.25rem;
        color: #fff;
        font-weight: normal;
    }

    button {
        transition: all 0.15s ease-in-out;
    }

    form {
        .submit-btn {
            width: fit-content;
            font-weight: 600;
            text-transform: uppercase;
            border-radius: 0.5rem;
            padding: 1rem 1.5rem;
            border: none;
            margin: 0 auto;
            display: block;

            &:hover {
                background-color: $base-color;
                color: #fff;
            }
        }

        .input-group {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            gap: 0.5rem;
            margin: 2rem 0;

            &__label {
                color: #fff;
                text-transform: uppercase;
                font-size: 0.9rem;
                font-weight: lighter;
            }

            &__month {
                font-weight: 600;
            }

            input {
                display: block;
                font-size: inherit;
                padding: 0.35rem;
                margin-top: 0.3rem;
                width: 100%;
            }
        }
    }

    .predicted-bill {
        margin-bottom: 2rem;
        font-size: 1.05rem;
        color: #fff;
        text-align: left;
        border-left: 5px solid #000;
        background: rgba(0, 0, 0, 0.25);
        padding: 0.7rem 1rem;
        display: flex;
        align-items: center;

        &__label {
            font-weight: lighter;
        }

        &__date {
            text-transform: capitalize;
        }

        &__value {
            font-weight: 600;
            margin-left: 1rem;
            font-size: 1.1rem;
        }
    }

    .bills-diff-result {
        margin: 2rem 0;
        color: #fff;
    }

    .list-links {
        margin-top: 1rem;
        border-top: 1px solid #ccc;
        padding-top: 0.5rem;

        li {
            margin-left: 1rem;
            list-style-type: disc !important;
        }

        a {
            color: $base-color;
            text-decoration: underline;
        }
    }
}
