@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.account {
    padding-top: 0;
    .cover {
        background-image: url("https://picsum.photos/1300/600");
        background-repeat: no-repeat;
        height: 20rem;
        background-position: center;
        background-size: cover;
    }

    .info-container {
        padding: 2rem 5rem;

        @include respond(phone) {
            padding: 2rem 0;
        }
    }

    .photo-container {
        display: flex;
        align-items: center;
        gap: 10rem;
        position: relative;
        z-index: 3;
        margin-top: -2rem;

        @include respond(phone) {
            gap: 5rem;
        }

        .left {
            display: flex;
            gap: 2rem;
            align-items: center;

            .photo {
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                object-fit: cover;
                width: 6rem;
                height: 6rem;
            }

            .name {
                text-transform: capitalize;
                font-weight: 600;
            }
            .role {
                text-transform: uppercase;
                letter-spacing: 0.1rem;
                font-weight: 500;
                font-size: 0.8rem;
                color: #333;
            }
        }

        .right {
            .label {
                color: #333;
                font-size: 0.9rem;
                margin-right: 0.5rem;
            }
        }
    }

    .group {
        display: flex;
        align-items: flex-start;
        gap: 3rem;
    }

    .prediction {
        margin-top: 2rem;
    }

    .control {
        display: flex;
        align-items: center;
        gap: 1.25rem;
        margin: 2rem 0;
        min-width: 50%;

        @include respond(phone) {
            width: fit-content;
        }

        &__icon {
            align-self: flex-start;
            align-items: center;
            background-image: linear-gradient(to left, $base-color-light, $base-color);
            border-radius: 50%;
            display: flex;
            font-size: 1.15rem;
            justify-content: center;
            min-height: 2.5rem;
            min-width: 2.5rem;
            color: #fff;
        }

        .label {
            color: #333;
            text-transform: uppercase;
            font-size: 0.9rem;
        }

        .value {
            text-transform: capitalize;
        }
    }

    .tables {
        margin-top: 5rem;

        &__label {
            text-align: center;
            font-weight: bold;

            &:last-of-type {
                margin-top: 4rem;
            }
        }
    }

    .comparison {
        border-top: 1px solid #aaa;
        padding-top: 0.5rem;

        .status {
            padding: 0.35rem 0.85rem;
            margin-top: 0.3rem;
            width: fit-content;
        }

        .input-bill-container {
            min-width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;

            .enter-btn {
                margin-top: 1rem;
                font-size: 0.95rem;
            }

            .input-bill {
                .control__texts {
                    input {
                        display: block;
                        font-size: inherit;
                        padding: 0.35rem;
                        margin-top: 0.3rem;
                    }

                    .error {
                        color: red;
                        font-size: 0.8rem;
                        margin-top: 0.3rem;
                    }
                }
            }
        }
    }
}
