.admin-dashboard {
    h1 {
        padding-bottom: 1rem;
    }

    nav {
        margin-top: 1rem;
        ul {
            display: flex;
            align-items: center;
            gap: 2rem;

            li {
                cursor: pointer;
                font-weight: 500;
                font-size: 1.15rem;
                padding-bottom: 1rem;
                transition: all 0.2s ease-in-out;
                border-bottom: 2px solid transparent;

                &.active {
                    border-color: rgb(31, 87, 183);
                }

                &:hover {
                    border-color: rgb(41, 105, 215);
                }
            }
        }
    }

    .content {
        margin: 2rem 0;
        position: relative;
    }

    .rate-container {
        align-items: flex-start;
        justify-content: space-between;
        display: flex;
        gap: 2rem;

        .graph-container {
            width: 55%;
        }
    }
}
