@import "../../styles/mixins.scss";

.admin-dashboard {
    h1 {
        padding-bottom: 1rem;
    }

    nav {
        margin-top: 1rem;
        ul {
            display: flex;
            align-items: center;
            gap: 2rem;

            li {
                cursor: pointer;
                font-weight: 500;
                font-size: 1.15rem;
                padding-bottom: 1rem;
                transition: all 0.2s ease-in-out;
                border-bottom: 2px solid transparent;

                &.active {
                    border-color: rgb(31, 87, 183);
                }

                &:hover {
                    border-color: rgb(41, 105, 215);
                }
            }
        }
    }

    .content {
        margin: 2rem 0;
        position: relative;
    }

    .rate-container {
        align-items: flex-start;
        justify-content: space-between;
        display: flex;
        gap: 2rem;

        @include respond(phone) {
            flex-direction: column;
        }

        .form {
            width: 50%;
            .loading-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2rem;
                justify-content: center;
                margin-top: 2rem;

                &__text {
                    font-size: 1.5rem;
                }
            }

            @include respond(phone) {
                width: 100%;
            }
        }

        .rates {
            width: 50%;

            .loading {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 0.5rem;
            }

            @include respond(phone) {
                width: 100%;
            }
        }
    }
}
