@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.main-content {
    display: flex;
    gap: 5rem;
    padding: 1.5rem 3rem;
    align-items: flex-start;

    @include respond(phone) {
        flex-direction: column;
    }

    .loading {
        p {
            font-weight: 400;
        }
    }

    .loading {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
    }

    .calc-option {
        display: flex;
        align-items: flex-start;
        gap: 5rem;
        perspective: 600px;
        justify-content: space-between;
        margin-bottom: 1rem;

        &__info {
            margin-bottom: 2rem;
            text-align: left;
            font-weight: lighter;
        }

        &__flip-btn {
            display: flex;
            align-items: center;
            gap: 0.65rem;
            text-transform: uppercase;

            svg {
                font-size: 1.35rem;
            }
        }
    }

    .scene {
        // width: 200px;
        // height: 260px;
        // border: 1px solid #ccc;
        // margin: 40px 0;
        perspective: 600px;
    }

    .card {
        width: 100%;
        height: 100%;
        transition: transform 1s;
        // cursor: pointer;
        transform-style: preserve-3d;
        position: relative;
    }

    .card__face {
        position: absolute;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        z-index: 1;
    }

    .card__face--front {
        // background: red;
    }

    .card__face--back {
        transform: rotateY(180deg);
    }

    .card.is-flipped {
        transform: rotateY(180deg);
    }
    .card.is-flipped {
        .card__face--back {
            z-index: 9;
        }
    }

    .left-side {
        width: 50%;
        text-align: center;

        .loading {
            height: 50vh;
        }

        @include respond(phone) {
            width: 100%;
        }
    }

    .right-side {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 3rem;

        @include respond(phone) {
            width: 100%;
            padding-bottom: 2.25rem;
        }
    }

    .current-data {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 1.5rem;

        .control {
            font-weight: 500;

            &__label {
                font-size: 1.15rem;

                .date {
                    text-transform: capitalize;
                }

                .small {
                    font-size: 0.9rem;
                    display: inline;
                    font-weight: 400;
                }
            }
            &__value {
                font-size: 1.1rem;
                margin-top: 0.5rem;
                border-left: 5px solid $base-color;
                background: rgba(0, 0, 0, 0.1);
                padding: 0.7rem;
            }
        }
    }
}
