.backdrop {
    position: fixed;
    background: #000;
    opacity: 0.8;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 10;
}

.modal {
    position: fixed;
    height: 90%;
    top: 50%;
    left: 50%;
    width: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
    margin: auto;
    overflow: hidden;
    color: #fff;

    background: #5e5858;
    padding: 2.5rem 3rem;
    border-radius: 3rem;

    &__close-btn {
        background: #fff;
        font-weight: bold;
        text-transform: capitalize;
        border-radius: 0.5rem;
        font-size: 1.15rem;
        padding: 0.7rem 3.25rem;
        border: none;
        transition: all 0.25s ease-in-out;
        display: block;
        margin: 5rem auto 0 auto;
        cursor: pointer;

        &:hover {
            background: #000;
            color: #fff;
        }
    }

    .value {
        font-weight: 500;
    }

    .forecasted-bill {
        display: flex;
        text-align: center;
        justify-content: center;
        gap: 2rem;

        h3 {
            font-weight: 500;

            text-transform: capitalize;
            font-size: 1.5rem;
        }

        p {
            font-size: 1.35rem;
            margin-top: 1rem;
        }

        .divider {
            height: 80px;
            width: 1px;
            background: rgba(255, 255, 255, 0.25);
        }
    }

    .breakdown {
        height: 48%;
        overflow-y: auto;
        margin-top: 2.5rem;
        padding-right: 2rem;

        /* width */
        &::-webkit-scrollbar {
            width: 4px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #999;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #333;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #111;
        }

        .value {
            margin-left: 0.35rem;
        }

        h3 {
            font-weight: 500;
            font-size: 1.5rem;
            margin-bottom: 1rem;
            border-bottom: 1px solid #ccc;
            padding-bottom: 0.5rem;
        }

        ul {
            font-size: 1.15rem;

            li {
                margin-top: 0.25rem;
            }

            &.lvl1 {
                margin-left: 1.25rem;
            }

            &.lvl2 {
                margin-left: 3rem;
            }

            &.lvl1 > li {
                margin-top: 1.5rem;
            }

            .appliance-name {
                font-weight: 500;
            }
        }

        .info {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}
