.home {
    align-items: center;
    display: flex;
    // height: 100vh;
    // margin-top: -15vh;
    // padding-top: 6rem;
    max-height: 100vh;
    overflow-y: hidden;
    position: relative;
    padding-top: 1rem;

    &__texts {
        width: 50%;
        z-index: 2;
        position: relative;

        .section-paragraph {
            max-width: 75%;
            margin-bottom: 2rem;
        }
    }
    &__img-container {
        width: 50%;
        position: relative;
        z-index: 1;

        img {
            display: block;
            margin-left: -10rem;
            max-width: 75rem;
            position: relative;
            z-index: 1;
        }
    }
}
