* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background: #5c6968;
    color: #fff;
    padding: 1rem 0;
}

button {
    cursor: pointer;
}
